
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Handlebars Images Demo</title>
  </head>
  <body>
      <p><a href="/">Back</a></p>
  <br>
      <img src="Capture2.jpg" alt="hi">
     
  </body>
<html>
